# Server Connection
WOODPECKER_SERVER=localhost:8000
WOODPECKER_AGENT_SECRET={{ agent_secret }}

# Backend
WOODPECKER_BACKEND=docker
WOODPECKER_HOSTNAME=local-agent

# Docker
WOODPECKER_DOCKER_CONFIG={}
