[Unit]
Description=Woodpecker CI Server
After=network.target postgresql.service

[Service]
User=woodpecker
Group=woodpecker
EnvironmentFile=/etc/woodpecker/server.conf
ExecStart=/usr/local/bin/woodpecker-server
Restart=always
RestartSec=3
WorkingDirectory=/var/lib/woodpecker
StandardOutput=journal
StandardError=journal
SyslogIdentifier=woodpecker-server

[Install]
WantedBy=multi-user.target
