WOODPECKER_OPEN=true
WOODPECKER_HOST=http://{{ host_addr }}:8000
WOODPECKER_GITEA=true
WOODPECKER_GITEA_URL=http://{{ host_addr }}:4000
WOODPECKER_GITEA_CLIENT={{ gitea_client_id }}
WOODPECKER_GITEA_SECRET={{ gitea_client_secret }}
WOODPECKER_AGENT_SECRET={{ vault_woodpecker_agent_secret }}
WOODPECKER_GITEA_SKIP_VERIFY=true
WOODPECKER_DATABASE_DRIVER=postgres
WOODPECKER_DATABASE_DATASOURCE=postgres://woodpecker:{{ vault_woodpecker_db_password }}@127.0.0.1:5432/woodpecker?sslmode=disable
WOODPECKER_GRPC_MAX_MESSAGE_SIZE=16777216